body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#header{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
}
.header-part{
    width: 50%;
    margin-left: 5%;
}
.text-color{
    color: orange;
}
.link-color{
    background-image: linear-gradient(red,yellow);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
}
h1{
    font-size: 50px;
}
.header-part img{
    width: 100%;
}
#dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.dream-area-part{
    width: 50%;
    margin-left: 5%;
}
.dream-area-part img{
    width: 100%;
}